RewriteEngine on
RewriteCond $1 !^(index\.php|robots\.txt|public|Public\/js|data|api|uc_client|include|UC_API) 
RewriteCond %{REQUEST_URI} !^.*(\.css|\.js|\.gif|\.png|\.jpg|\.jpeg|\.ico)$
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]



 
 