/* 
    Document   : style
    Created on : 2013-12-29, 16:47:01
    Author     : air
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


body {
  background-color: #fcfcfc; font: Helvetica,Arial,sans-serif; font-size: 14px; /*font-family: 微软雅黑,宋体;*/
  font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
  /*background: #DF5D5D;*/
}
.left{ float: left;}
.right{ float: right;}
.white-color{ color: #FFF;}
.point{ cursor:pointer;}
.h20{ line-height: 20px;}
.mt20{ margin-top: 20px;}
.pt20{ padding-top: 20px;}
.radius-5{
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.radius-2{
    -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.radius-3{
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.form-signin {
  position: relative;
  max-width: 700px;
  height: 280px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 200px; 
  background: #FFF;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-con{
    float: right;
    height: 280px;
    margin-right: 30px;
   
}

.form-signin .form-info{
    float: left;
    width: 250px;
    height: 280px;
}

.navbar-inner .brand{
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.navbar-inverse .navbar-inner{
    border-color: #666;
}

.navbar {
margin: 0;
height: 41px;
}
.main{
    width: 980px; margin: 0 auto;
}
a:hover{ text-decoration: none;}
ul,li{ padding: 0; margin: 0; list-style: none;}
img{padding: 0; margin: 0; vertical-align:baseline;}

.jianb{ 
   background: white; /* 为较旧的或者不支持的浏览器设置备用属性 */
background: -moz-linear-gradient(top, #dedede, white 100%);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(white));
}

.sub-nav{ font-size: 14px;}
.sub-nav li{ float: left;  margin-right: 16px;}
.sub-nav li a{ float: left; line-height: 35px; width: 80px; text-align: center; color: #85C155;}
.sub-nav li a.active, .sub-nav li a:hover{ background: #85C155; color: #FFF;}
           
.uside{ width: 200px;  float: left;}
.uside .item{box-shadow: 0px 0px 3px #d9d9d9;-webkit-box-shadow: 0px 1px 3px #d9d9d9;-moz-box-shadow: 0px 0px 3px #d9d9d9; border: 1px solid #eee; border-radius: 0px; overflow: hidden;}
.uside .person_nav li{ background:#FCFCFC; color: #f69; width: 198px; height: 34px; line-height: 34px;   border-bottom: 1px solid #eee; overflow: hidden}
.uside .person_nav li:hover{ background: #FFF;}
.uside .person_nav a{ color: #858585; padding-left: 35px; width: 198px; display: block;}
.uside .person_nav a:hover{ background: #FFF;}
.uside .person_nav a.noborder{ border: 0px;}

.user-info{ color: #666; background: #fff; padding: 10px;}
.recomm-tag{ margin-top: 20px;}
.recomm-tag a{ color: #FFF;}
.recomm-tag span.badge{ margin-right: 10px; background-color: #B8B8B8;}
.recomm-tag span.badge:hover{ background-color: #999;}

.label-warning a{ color: #fff; font-weight: normal; }

.main a{ }
.label-warning a{ color: #fff; font-weight: normal; }

.tag{ border: 1px solid #ccc; padding: 5px 8px; margin-right: 5px; -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;}

.up, .down{ text-align: center; width: 38px; background: #eff6fa; cursor: pointer; padding-bottom: 2px;}
.up{ margin-bottom: 5px;}
.answer-item .active, .up:hover, .down:hover{background: #698ebf; color: #FFF;}

.answer-box{ line-height: 1.7;}
.answer-item{ font-size: 13px;}
.answer-agree, .answer-agree a{ color: #999;}
.answer-head a{ color: #005580}
.answer-head a:hover{ text-decoration: underline;}
.answer-bottom{ color: #999; font-size: 13px; padding: 5px 0; border-bottom: 1px solid #eee; margin-bottom: 20px;}
.answer-bottom a{ color: #999; margin-right: 5px;}
.answer-bottom a:hover{ color: #698ebf; text-decoration: underline;}