RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]


#自定义页面
RewriteRule	^(.*)/email/template/([a-zA-Z_]+)\/{0,1}$	/index.php?m=email&a=template&act=$2
RewriteRule	^(.*)/email/template/add/{0,1}$			/index.php?m=email&a=template&act=add
RewriteRule	^(.*)/email/template/delete/([0-9]+)/{0,1}$		/index.php?m=email&a=template&act=delete&id=$2
RewriteRule	^(.*)/email/template/([a-zA-Z_]+)/([0-9]+)/{0,1}$			/index.php?m=email&a=template&act=$2&id=$3

